html, body {
  width: 120%;
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f5fafd;
}

.node .node {
  border-left: 1px solid black;
  font-size: 1em;
}

.node .node .node {
  background-color: #fef9f2;
  border: 1px solid #aaa;
  font-size: 0.9em;
}

.node .node .node .node {
  background-color: #f3efea;
}

.node .node .node .node .node {
  background-color: #fff;
}

p {
  width: 12em;
  margin: 1em;
}

.rows > ul {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.cols > ul > li {
  margin: 1em 0em;
}

.cols > ul {
  display: flex;
  flex-direction: row;
  gap: 10em;
}

ul {
  margin: 1em;
  padding: 0;
}

li {
  list-style: none;
  margin: 1em;
}

.compact li {
  margin: 0 1em;
}

.compact ul {
  margin: 1em 0;
}

.compact li p {
  margin: 0;
}

#svg {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow: visible;
  }

#svg g {
  stroke: #555;
  stroke-width: 1.2px;
}

#svg polygon {
  fill: #555;
}

#svg g polyline {
  fill: none;
}

#svg g line {
  fill: none;
}

#svg g:hover {
  stroke: red;
  stroke-width: 4px;
}

.ghosted {
  opacity: 0.2;
}

#svg g:hover .ghosted {
  opacity: 1;
}

#svg g:hover polygon {
  fill: red;
}

#svg .label {
  visibility: hidden;
}

#svg .label text {
  fill: black;
  stroke: none;
  stroke-width: 1px;
  font: italic 20px sans-serif;
  font-weight: bold;
}

#svg .label rect {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

#svg g:hover .label {
  visibility: visible;
}

.dotted polyline {
  stroke-dasharray: 2;
}

.dotted line {
  stroke-dasharray: 2;
}
